/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat600';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2');
}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
color: #00bf06;
}

main {
flex-grow: 1;
display: flex;
justify-content: center;
font-size: 1.6rem;
flex-wrap: wrap;
}

.main__form {
background-color: #121e28;
padding: 32px;
border-radius: 18px;
box-shadow: 2px 2px 20px rgb(14, 58, 154);
border: 2px solid #003c6d;
max-height: 920px;
}

.main__formtitle {
text-align: center;
margin-bottom: 32px;
}

.main__formfieldset {
margin: 16px 0;
padding: 8px;
border: none;
}

.main__formlabel {
display: block;
font-size: 1.4rem;
transition: color 0.1s ease-out;
}

.main__formlabel + .main__formlabel {
margin-top: 16px;
}

.main__labelrow {
display: flex;
justify-content: space-between;
padding: 0 8px;
}

.main__forminput {
display: block;
width: 100%;
font-size: 1.6rem;
padding: 12px 8px 12px 8px;
border-radius: 10px;
border: 1px solid #999;
background-color: rgb(10, 17, 23);
color: rgb(110, 117, 117);
}

.main__forminput_day_set{
display: flex;
flex-direction: column;
width: 100%;
font-size: 1.6rem;
padding: 12px 8px;
border-radius: 10px;
border: 1px solid #999;
}

.main__forminput:focus {
outline-color: rgb(255, 255, 255);
}

.main__forminput:invalid {
border-color: red;
}

.main__formbutton {
display: block;
border: none;
margin: 0 auto;
cursor: pointer;
color: #00bf06;
}

.main__formsubmit-button {
margin-top: 24px;
background-color: rgb(6, 191, 6);
border-radius: 100vmax;
padding: 16px 32px;
transition: filter 0.2s ease-out;
color: #0a1117;
}

.main__formsubmit-button:hover {
filter: brightness(1.2);
}

.main__radiodescription,
.main__checkboxdescription {
position: relative;
margin-left: 30px;
}

.main__formreset-button {
text-decoration: underline;
margin-top: 8px;
background: none;
}

footer {
  position: sticky;
  top: 100vh;
}

.main__fieldset {
	margin-bottom: 0px;
  border-color: #003c6d;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
  margin-top: 32px;
}

.main__fieldset input[type=radio] {
	display: none;
}

.main__fieldset label {
	display: flex;
  justify-content: flex-start;
	position: relative;
	padding-left: 18px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

.main__fieldset label:before {
	content: "";
	display: inline-flex;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
  bottom: -3px;
	background: url(/image/Group\ 1.svg) 0 0 no-repeat;
}

.main__fieldset input[type=radio]:checked + label:before {
	background: url(/image/Group\ 2.svg) 0 0 no-repeat;
}

.main__fieldset label:hover:before {
	filter: brightness(120%);
}

.main__fieldset input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

@media screen and (min-width: 320px) {
  .main__form {
    background-color: #121e28;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 2px 2px 20px rgb(14, 58, 154);
    border: 2px solid #003c6d
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .main__form {
    background-color: #121e28;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 2px 2px 20px rgb(14, 58, 154);
    border: 2px solid #003c6d;
    width: 500px
    }
}

@media screen and (min-width: 1025px) and (max-width: 1800px) {
  .main__form {
    background-color: #121e28;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 2px 2px 20px rgb(14, 58, 154);
    border: 2px solid #003c6d;
    width: 700px
    }
}

@media screen and (min-width: 1801px) and (max-width: 2560px) {
  .main__form {
    background-color: #121e28;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 2px 2px 20px rgb(14, 58, 154);
    border: 2px solid #003c6d;
    width: 1200px
    }
}

.footlogo1 {
  display: block;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
  transform: rotate(30deg) scale(1.5) skew(30deg);
}

.footlogo1:hover {
  filter: brightness(2);
  transform: scale(1.2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.footlogo1:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.footlogo1:active {
  filter: brightness(2);
}

.main__fieldset2 {
	margin-bottom: 0px;
  border-color: #003c6d;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
  margin-top: 32px;
}

.main__form2 {
  background-color: #121e28;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 2px 2px 20px rgb(14, 58, 154);
  border: 2px solid #003c6d;
  max-height: 920px;
  margin-top: 32px;
}

.main__formcheckbox:checked + span {
  text-decoration: line-through;
}

.main__formfieldset2 {
border: 1px solid color red;
}

.main__formcheckbox-list {
list-style-type: none;
display: flex;
column-gap: 8px;
flex-direction: column;
gap: 4px;
}

.psevdoclasses li:nth-child(2n) span {
color: blue;
}

.psevdoclasses li:nth-child(2n) .main__formcheckbox:checked {
accent-color: blue;
}

.main__formtitle {
  font-weight: bold;
}

.main__formtitle::first-letter {
  color: rgb(201, 204, 0);
}

.main__formdetails {
  margin-inline-start: 0px;
  margin-bottom: 20px;
}

.main__formdetails::before {
  content: "\1F6C8";
}

.psevdoelements li:nth-child(2n + 1) span {
  color: blue;
}

.psevdoelements li:nth-child(2n + 1) .main__formcheckbox:checked {
  accent-color: blue;
}

.main__formcheckbox-label {
  display: flex;
  gap: 4px;
}

@media screen and (min-width: 320px) {
  .main__form2 {
    background-color: #121e28;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 2px 2px 20px rgb(14, 58, 154);
    border: 2px solid #003c6d;
    width: 296px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .main__form2 {
    background-color: #121e28;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 2px 2px 20px rgb(14, 58, 154);
    border: 2px solid #003c6d;
    width: 500px;
    margin-inline: 20px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1800px) {
  .main__form2 {
    background-color: #121e28;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 2px 2px 20px rgb(14, 58, 154);
    border: 2px solid #003c6d;
    width: 700px;
    margin-inline: 30px;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2560px) {
  .main__form2 {
    background-color: #121e28;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 2px 2px 20px rgb(14, 58, 154);
    border: 2px solid #003c6d;
    width: 1200px;
    margin-inline: 100px;
    }
}