/* Переменные */

:root {
  --text-color: #FFF;
  --background-color: #0A1117;
  --link-color: #10151A;
  --yellow: #FFC803;
}

* {
  box-sizing: border-box;
}

*::selection {
  color: #b30aaa;
  background-color: #d3ee01;
}


/* Шрифты */

/* Montseratt font */

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat500';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2');
}
/* montserrat-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat500it';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-latin-500italic.woff2') format('woff2');
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat600';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2');
}
/* montserrat-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat600it';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-latin-600italic.woff2') format('woff2');
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat700';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2');
}
/* montserrat-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat700it';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-latin-700italic.woff2') format('woff2');
}


/* Figtree font */

/* figtree-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree700';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Figtree-Bold.woff2') format('woff2');
}
/* figtree-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree700it';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Figtree-BoldItalic.woff2') format('woff2');
}


/* Теги */

body {
  background: var(--background-color);
  text-align: center;
  margin: 0;
  font-family: 'Montserrat600', serif;
}

header {
  display: flex;
  min-height: 56px;
  margin: 16px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

@media screen and (min-width: 768px){
  header {
    display: flex;
    min-height: 56px;
    margin: 16px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    max-width: 736px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px){
  header {
    display: flex;
    min-height: 56px;
    margin: 16px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    max-width: 1140px;
    margin-inline: auto;
  }
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 80px;
  position: sticky;
  top: 100vh;
}


/* Классы */


@media screen and (min-width: 1200px) {
  .header__logo {
    width: 193px;
  }
}

.button__down {
  display: flex; 
  background: #0b1219;
  border: none;
  transition: filter 0.2s ease-out;
  margin-inline: auto;
  margin-top: 64px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

.button__down:hover {
  filter: brightness(2);
  transform: scale(1.2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.button__down:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.button__down:active {
  filter: brightness(2);
}

@media screen and (max-width: 767px){
  .button__down {
    display: none;
  }
}

.header__ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat600';
  color: #fff;
  font-size: 1.4rem;
  gap: 24px;
  padding: 0;
  margin-inline-start: -50px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

@media screen and (min-width: 768px) {
  .header__ul {
    padding-inline-start: 60px;
  }
}

@media screen and (min-width: 1200px){
  .header__ul {
    font-size: 2rem;
  }
}

.header__ula {
  color: #fff;
}

.header__ula:hover {
  filter: brightness(2);
  transform: scale(1.2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.header__ula:focus {
  filter: brightness(2);
  transform: scale(1.2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.header__ula:active {
  filter: brightness(2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

@media screen and (max-width: 767px){
  .header__ul {
    display: none;
  }
}

@media screen and (max-width: 1200px){
  .header__ul {
    font-size: 1.8rem;
  }
}

.header__a {
  display: flex;
  font-family: 'Montserrat600';
  color: #fff;
  border-radius: 8px;
  background: #243241;
  padding: 8px 16px;
  font-size: 1.2rem;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

.header__a:hover {
  filter: brightness(2);
  transform: scale(1.2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.header__a:focus {
  filter: brightness(2);
  transform: scale(1.2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.header__a:active {
  filter: brightness(2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

@media screen and (max-width: 767px){
  .header__a {
    display: none;
  }
} 

.menubutton {
  background: #0b1219;
  border: none;
  transition: filter 0.2s ease-out;
}

.menubutton:hover {
  filter: brightness(2);
  transform: scale(1.2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.menubutton:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.menubutton:active {
  filter: brightness(2);
}

@media screen and (min-width: 768px){
  .menubutton {
    display: none;
  }
}

.DAOsec {
  margin: 72px 16px 0px 16px;
}

.texth1 {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 3.6rem;
  line-height: 1.22;
  margin-bottom: 0px;
  margin-inline: 7px;
}

@media screen and (min-width: 768px){
  .texth1 {
    font-size: 5.2rem;
  }
}

@media screen and (min-width: 1200px){
  .texth1 {
    font-size: 7.2rem;
  }
}

.textregular {
  color: var(--text-color);
  font-family: 'Montserrat500', serif;
  font-size: 1.8rem;
  line-height: 1.55;
  margin: 16px 7px 0px 7px;
}

@media screen and (min-width: 768px){
  .textregular {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px){
  .textregular {
    font-size: 2.6rem;
  }
}

.linkget {
  color: var(--link-color);
  font-family: 'Montserrat700', serif;
  font-size: 1.5rem;
  line-height: 2;
  display: inline-flex;
  padding: 8px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #FFCF01;
  box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.20);
  margin-top: 40px;
  margin-bottom: 0px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

@media screen and (min-width: 768px){
  .linkget {
    font-size: 1.7rem;
  }

  @media screen and (min-width: 1200px){
    .linkget {
      font-size: 2rem;
    }
  }
}

.linkget:hover {
  filter: brightness(1.2);
  transform: scale(1.2);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.linkget:focus {
  filter: brightness(1.2);
  transform: scale(1.2);
}

.linkget:active {
  filter: brightness(1.2);
}

.redsec {
  margin-top: 100px;
}

.texth2 {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
  margin: 0 16px;
}

@media screen and (min-width: 768px){
  .texth2 {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 768px){
  .texth2 {
    font-size: 5.4rem;
  }
}

.readdiv {
  margin: 24px 16px 0 16px;
}

.readul {
  list-style-type: none;
  padding-inline: 0;
}

.read {
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  padding: 0px 14px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 44.939px;
  background: #182632;
  margin: 6px;
  }

.color1 {
  color: #FFB4D3;
}

.color2 {
  color: #FFC24C;
}

.color3 {
  color: #D387F7;
}

.color4 {
  color: #77E6FF;
}

.color5 {
  color: #23C9DE;
}

.color6 {
  color: #FFB4D3; 
}

.read7 {
  color: #1eb700;
  /* font-family: 'Montserrat600', serif; */
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  width: 84px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 44.939px;
  background: #182632;
  border: none;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

.read7:hover {
  filter: brightness(2);
  transform: scale(1.05);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.read7:focus {
  filter: brightness(2);
  transform: scale(1.05);
}

.read7:active {
  filter: brightness(2);
}

@media screen and (min-width: 1200px){
  .read {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px){
  .read7 {
    font-size: 2rem;
    flex-wrap: nowrap;
    padding: 26px 3px;
  }
}

.art1 {
  display: flex;
  background: #000;
  border-radius: 24px;
  padding-inline: 0;
  margin-inline: auto;
}

@media screen and (min-width: 768px){
  .art1 {
    display: none;
  }
}

.art2 {
  display: flex;
  background: #000;
  border-radius: 24px;
  padding-inline: 0;
  margin-inline: auto;
}

@media screen and (max-width: 767px){
  .art2 {
    display: none;
  }
}

@media screen and (min-width: 1200px){
  .art2 {
    display: none;
  }
}

.art3 {
  display: flex;
  background: #000;
  border-radius: 24px;
  padding-inline: 0;
  margin-inline: auto;
}

@media screen and (max-width: 1199px){
  .art3 {
    display: none;
  }
}

.underpicture {
  max-width: 356px;
  color: #0A1117;
  font-family: 'Montserrat700', serif;
  font-size: 1.3rem;
  line-height: 1.84;
  display: inline-flex;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 3px solid #0A1117;
  background: #FFA800;
  margin-top: -16px;
}

@media screen and (min-width: 768px){
  .underpicture {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1200px){
  .underpicture {
    font-size: 1.8rem;
    max-width: 404px;
  }
}

.dissec {
  margin-top: 68px;
}

.textdis {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
  margin: 0 16px;
}

@media screen and (min-width: 768px){
  .textdis {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1200px){
  .textdis {
    font-size: 5.4rem;
  }
}

.designul {
  color: #1eb700;
  font-family: 'figtree700', serif;
  font-size: 2rem;
  line-height: 1.8;
  list-style-type: none;
  margin: 24px 16px 0 16px;
  padding-left: 0px;
}

@media screen and (min-width: 768px){
  .designul {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1200px){
  .designul {
    font-size: 5.4rem;
  }
}

.designulone {
  color: #2af4ff;
  font-family: 'figtree700', serif;
  font-size: 2rem;
  line-height: 1.8;
}

@media screen and (min-width: 768px){
  .designulone {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1200px){
  .designulone {
    font-size: 5.4rem;
  }
}

.allsec {
  margin-top: 80px;
}

.textall {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
  margin: 0 16px;
}

@media screen and (min-width: 768px){
  .textall {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1200px){
  .textall {
    font-size: 5.4rem;
  }
}

.alldesign {
  display: flex;
  color: #8395A7;
  /* font-family: 'Montserrat600', serif; */
  font-size: 1.4rem;
  line-height: 1.15;
  list-style-type: none;
  margin: 24px 16px;
  padding-inline: 0;
  gap: 8px;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px){
  .alldesign {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1200px){
  .alldesign {
    font-size: 2.2rem;
  }
}

.alldesignone {
  color: var(--yellow);
  /* font-family: 'Montserrat600', serif; */
  font-size: 1.4rem;
  line-height: 1.28;
}

@media screen and (min-width: 768px){
  .alldesignone {
    font-size: 1.6rem;
  }
}

.artwatch1 {
  display: flex;
  padding-inline: 0;
  margin-inline: auto;
}

@media screen and (min-width: 768px){
  .artwatch1 {
    display: none;
  }
}

.artwatch2 {
  display: flex;
  padding-inline: 0;
  margin-inline: auto;
}

@media screen and (max-width: 767px){
  .artwatch2 {
    display: none;
  }
}

@media screen and (min-width: 1200px){
  .artwatch2 {
    width: 1000px;
  }
}

.linkwatch {
  color: #FFCF01;
  font-family: 'Montserrat700', serif;
  font-size: 1.5rem;
  line-height: 2.4;
  display: inline-flex;
  padding: 4px 29px 4px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 207, 1, 0.15);
  margin-top: 22px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

@media screen and (min-width: 768px){
  .linkwatch {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1200px){
  .linkwatch {
    font-size: 2rem;
  }
}

.linkwatch img {
  margin-right: 8px;
}

.linkwatch:hover {
  filter: brightness(1.7);
  transform: scale(1.2);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.linkwatch:focus {
  filter: brightness(1.7);
  transform: scale(1.2);
}

.linkwatch:active {
  filter: brightness(1.7);
}

.textwork {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
  margin: 0 16px;
}

@media screen and (min-width: 768px){
  .textwork {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1200px){
  .textwork {
    font-size: 5.4rem;
  }
}

.worksul {
  max-width: 306px;
  display: flex;
  gap: 0.5em;
  color: var(--text-color);
  /* font-family: 'Montserrat600', serif; */
  font-size: 1.2rem;
  line-height: 1.5;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 24px;
  margin-inline: auto;
  padding-left: 0;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .worksul {
    max-width: 640px;
  }
}

.worksul p{
 margin: 0;
}

.workli img{
  flex-shrink: 0;
}

@media screen and (min-width: 1200px){
  .workimg {
    width: 160px;
  }

  .worksul {
    max-width: 990px;
  }
}

.worktext {
  color: #FFF;
  text-align: center;
  /* font-family: 'Montserrat600', serif; */
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8;
}

@media screen and (min-width: 1200px){
  .worktext {
    font-size: 2.2rem;
  }
}

.worksec {
  margin-bottom: 0px;
  margin-top: 80px;
}

.helpsec {
  margin-top: 80px;
}

.texthhelp {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
  margin-inline: 16px;
}

@media screen and (min-width: 768px){
  .texthhelp {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1200px){
  .texthhelp {
    font-size: 5.4rem;
  }
}

.divemimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10.17px;
}

.employeeul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  align-items: stretch;
  margin-inline: auto;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding-inline: 16px;
}

.employeeimg {
  border-radius: 15.593px;
  background: #E9E7E1;
}

@media screen and (min-width: 1200px){
  .employeeimg {
    width: 160px;
  }

  .employeeul {
    gap: 25px;
  }
}

.employeeli1 {
  display: block;
}

@media screen and (min-width: 768px){
  .employeeli1 {
    display: none;
  }
}

.employeeli2 {
  display: block;
}

@media screen and (max-width: 767px){
  .employeeli2 {
    display: none;
  }
}

.helpul {
  display: inline-flex;
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 1.8rem;
  line-height: normal;
  list-style-type: none;
  padding-inline: 0;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-inline: 16px;
}

@media screen and (min-width: 768px){
  .helpul {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1200px){
  .helpul {
    font-size: 4rem;
  }
}

.helpimg {
  margin: 0 4px;
}

.sectionweek {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-items: center;
  border-radius: 22px;
  border: 1px solid #2A3744;
  background: #14212D;
  margin-top: 24px;
  margin-inline: 16px;
}

@media screen and (min-width: 768px){
  .sectionweek {
    width: 736px;
  }
}

@media screen and (min-width: 1200px){
  .sectionweek {
    width: 1140px;
    height: 390px;
  }
}

.textweek {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
  margin-top: 28px;
  margin-bottom: 0px;
  margin-inline: 24px;
}

@media screen and (min-width: 768px){
  .textweek {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1200px){
  .textweek {
    font-size: 5.4rem;
    margin-bottom: 16px;
  }
}

.weektext {
  color: #9AAFC3;
  /* font-family: 'Montserrat600', serif; */
  font-size: 1.9rem;
  line-height: 1.47;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-inline: 24px;
}

@media screen and (min-width: 768px){
  .weektext {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 1200px){
  .weektext {
    font-size: 3.6rem;
    margin-bottom: 68px;
  }
}

.emailtext1 {
  display: flex;
  font-size: 1.4rem;
  line-height: 1.28;
  border-radius: 10px;
  border: 1px solid #000000;
  background: rgb(10, 17, 23);
  margin-top: 24px;
  margin-bottom: 0px;
  margin-inline: 24px;
}

.emailtext1 input {
  background: rgb(10, 17, 23);
  padding: 13px 113px 13px 18px;
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 768px){
  .emailtext1 {
    display: none;
  }
}

@media screen and (min-width: 767px){
  .emailtext2 {
    font-size: 2rem;
    display: flex;
    line-height: 1.28;
    border-radius: 10px;
    border: 1px solid #000000;
    background: rgb(10, 17, 23);
    margin-top: 48px;
    margin-bottom: 48px;
    margin-inline: 0px;
    width: 324px;
  }

  .emailtext2 input {
    background: rgb(10, 17, 23);
    padding: 18px 190px 18px 24px;
    border: none;
    border-radius: 10px;
    width: 322px;
  }
}

@media screen and (min-width: 1200px){
  .emailtext2 {
    font-size: 2rem;
    display: flex;
    line-height: 1.28;
    border-radius: 10px;
    border: 1px solid #000000;
    background: rgb(10, 17, 23);
    margin-top: 0px;
    margin-bottom: 48px;
    margin-inline: 0px;
    width: 508px;
  }

  .emailtext2 input {
    background: rgb(10, 17, 23);
    padding: 21px 368px 23px 28px;
    border: none;
    border-radius: 10px;
    width: 506px;
  }
}

@media screen and (max-width: 767px) {
  .main__form--div {
    display: none;
  }  
}

@media screen and (min-width: 768px) {
  .main__form--div {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
  }  
}

@media screen and (min-width: 1200px) {
  .main__form--div {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    margin-bottom: 64px;
  }  
}

input::placeholder {
  color: #c88383;
}

.subbutton1 {
  color: #10151A;
  font-size: 1.4rem;
  line-height: 1.71;
  padding: 10px 0px;
  border-radius: 10px;
  background: var(--purple-light, #E2C1F9);
  margin-top: 16px;
  margin-inline: 24px;
  margin-bottom: 24px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

@media screen and (min-width: 768px){
  .subbutton1 {
    display: none;
  }
}

@media screen and (min-width: 767px){
  .subbutton2 {
    font-size: 2rem;
    margin-inline-start: 24px;
    color: #10151A;
    line-height: 1.71;
    border-radius: 10px;
    background: var(--purple-light, #E2C1F9);
    margin-top: 48px;
    margin-bottom: 48px;
    padding-inline: 32px;
    transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
  }

  .subbutton2:hover {
    filter: brightness(1.3);
    transform: scale(1.05);
    background-color: rgb(10, 17, 23);
    color: rgb(225, 255, 0);
    box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
  }
  
  .subbutton2:focus {
    filter: brightness(1.3);
    transform: scale(1.05);
  }
  
  .subbutton2:active {
    filter: brightness(1.3);
  }
}

@media screen and (min-width: 1200px){
  .subbutton2 {
    font-size: 2rem;
    margin-inline-start: 24px;
    color: #10151A;
    line-height: 1.71;
    border-radius: 10px;
    background: var(--purple-light, #E2C1F9);
    margin-top: 0px;
    margin-bottom: 48px;
    padding-inline: 32px;
    transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
  }

  .subbutton2:hover {
    filter: brightness(1.3);
    transform: scale(1.05);
    background-color: rgb(10, 17, 23);
    color: rgb(225, 255, 0);
    box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
  }
  
  .subbutton2:focus {
    filter: brightness(1.3);
    transform: scale(1.05);
  }
  
  .subbutton2:active {
    filter: brightness(1.3);
  }
}

.subbutton1:hover {
  filter: brightness(1.3);
  transform: scale(1.05);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.subbutton1:focus {
  filter: brightness(1.3);
  transform: scale(1.05);
}

.subbutton1:active {
  filter: brightness(1.3);
}

.backdiv {
  margin-top: 80px;
  overflow-x: hidden;
}

.textback {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px){
  .textback {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1200px){
  .textback {
    font-size: 5.4rem;
  }
}

.backul1 {
  display: flex;
  gap: 16px;
  padding: 0;
  align-items: center;
  margin-top: 0px;
  justify-content: center;
}

.backul2 {
  display: flex;
  gap: 16px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.backli1 {
  list-style-type: none;
}

@media screen and (min-width: 768px){
  .backli1 {
    display: none;
  }
}

.backli2 {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) and (min-width: 1200px) {
  .backli2 {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .backli3 {
    display: none;
  }
}

.textpress {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px){
  .textpress {
    display: none;
  }
}

@media screen and (max-width: 767px){
  .textpress1 {
    display: none;
  }
}

@media screen and (min-width: 768px){
  .textpress1 {
    font-size: 3.6rem;
    color: var(--text-color);
    font-family: 'figtree700', serif;
    line-height: 1.28;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1200px){
  .textpress1 {
    font-size: 5.4rem;
    color: var(--text-color);
    font-family: 'figtree700', serif;
    line-height: 1.28;
    margin-bottom: 24px;
  }
}

.presssection {
  margin-inline: 16px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px){
  .presssection {
    margin-inline: 16px;
    margin-top: 80px;
    display: flex;
    /* flex-direction: row; */
  }

  .main__divpress {
    display: flex;
    flex-direction: row;
    margin-inline: 0px;
  }

  .pressblock1 {
    width: 232px;
    height: 335px;
    margin-inline-end: 10px;
  }
  
  .pressblock2 {
    width: 232px;
    height: 335px;
    margin: 0;
  }

  .pressblock3 {
    width: 232px;
    height: 335px;
    margin-inline-start: 10px;
  }

  .main__divpress0 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 736px;
  }
}

@media screen and (min-width: 1200px){
  .presssection {
    margin-inline: 16px;
    margin-top: 80px;
    display: flex;
    /* flex-direction: row; */
  }

  .main__divpress {
    display: flex;
    flex-direction: row;
    margin-inline: 0px;
  }

  .pressblock1 {
    width: 361px;
    height: 382px;
    margin-inline-end: 10px;
  }
  
  .pressblock2 {
    width: 361px;
    height: 382px;
    margin: 0;
  }

  .pressblock3 {
    width: 361px;
    height: 382px;
    margin-inline-start: 10px;
  }

  .main__divpress0 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1110px;
  }
}

.pressimg {
  margin: 20px 116px 12px 20px;
}

@media screen and (min-width: 768px){
  .pressimg {
    margin: 20px 0px 12px 20px;
  }
}

.pressblock1 h3 {
  margin: 0px 20px 12px 20px;
}

.pressblock1 p {
  margin: 0px 20px 19px 20px;
}

.pressblock1 a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0px 8px 20px 20px;
}

.pressblock1 {
  flex-shrink: 0;
  border-radius: 20px;
  background: #77E6FF;
  text-align: start;
  margin-bottom: 16px;
  margin-inline-end: 16px;
  max-width: 400px;
}

.pressblock2 h3 {
  margin: 0px 20px 12px 20px;
}

.pressblock2 p {
  margin: 0px 20px 19px 20px;
}

.pressblock2 a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0px 8px 20px 20px;
}

.pressblock2 {
  flex-shrink: 0;
  border-radius: 20px;
  background: #E2C1F9;
  text-align: start;
  margin-bottom: 16px;
  max-width: 400px;
}

.pressblock3 h3 {
  margin: 0px 20px 12px 20px;
}

.pressblock3 p {
  margin: 0px 20px 19px 20px;
}

.pressblock3 a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0px 8px 20px 20px;
}

.pressblock3 {
  flex-shrink: 0;
  border-radius: 20px;
  background: #DBE268;
  text-align: start;
  margin-bottom: 40px;
  margin-inline-start: 16px;
  max-width: 400px;
}

@media screen and (max-width: 767px) {
  .pressblock1 {
    margin-inline: 10px;
  }
  
  .pressblock2 {
    margin-inline: 10px;
  }

  .pressblock3 {
    margin-inline: 10px;
  }
}

.pressh {
  color: #10151A;
  font-family: 'Montserrat700', serif;
  font-size: 1.8rem;
  line-height: 1.33;
  }

@media screen and (min-width: 1200px) {
  .pressh {
    font-size: 2.2rem;
  }
}

.presstext {
  color: #10151A;
  font-size: 1.3rem;
  line-height: 1.69;
  opacity: 0.8;
}

@media screen and (min-width: 1200px) {
  .presstext {
    font-size: 1.7rem;
  }
}

.presslink {
  color: #10151A;
  font-family: 'Montserrat700', serif;
  font-size: 1.4rem;
  line-height: normal;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

@media screen and (min-width: 1200px) {
  .presslink {
    font-size: 1.6rem;
    padding-top: 40px;
  }
}

.presslink:hover {
  filter: brightness(2);
  transform: scale(1.2);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.presslink:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.presslink:active {
  filter: brightness(2);
}

.presssee {
  color: #8395A7;
  text-align: right;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
  font-family: 'Montserrat700', serif;
  font-size: 1.8rem;
  line-height: 1.77;
  margin-bottom: 0px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

.presssee1 {
  color: #8395A7;
  text-align: right;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
  font-family: 'Montserrat700', serif;
  font-size: 1.8rem;
  line-height: 1.77;
  margin-bottom: 0px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}


@media screen and (min-width: 768px){
  .presssee1 {
    display: none;
  }
}

@media screen and (min-width: 1200px){
  .presssee {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 767px){
  .presssee {
    display: none;
  }
}

.presssee:hover {
  filter: brightness(2);
  transform: scale(1.2);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.presssee:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.presssee:active {
  filter: brightness(2);
}

.podsec {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .podsec {
    margin-bottom: 285px;
  }
}

.textpod {
  color: var(--text-color);
  font-family: 'figtree700', serif;
  font-size: 2.8rem;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .textpod {
    display: none;
  }
}

.podcastblock {
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #2A3744;
  background: #121E28;
  backdrop-filter: blur(2px);
  text-align: start;
  margin-bottom: 16px;
  margin-inline: 16px;
  max-width: 400px;
}

@media screen and (min-width: 768px){
  .podcastblock {
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #2A3744;
    background: #121E28;
    backdrop-filter: blur(2px);
    text-align: start;
    margin-bottom: 16px;
    margin-inline: 10px;
    max-width: 400px;
    width: 232px;
    height: 284px;
  }
}

@media screen and (min-width: 1200px){
  .podcastblock {
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #2A3744;
    background: #121E28;
    backdrop-filter: blur(2px);
    text-align: start;
    margin-bottom: 16px;
    margin-inline: 10px;
    max-width: 400px;
    width: 361px;
    height: 382px;
  }
}

.podimg {
  margin: 24px 268px 16px 20px;
}

@media screen and (min-width: 768px){
  .podimg {
    margin: 24px 0px 16px 20px;
  }
}

.podcasttitle {
  color: var(--text-color);
  font-family: 'Montserrat700', serif;
  font-size: 1.7rem;
  line-height: 1.41;
  margin: 0px 20px 12px 20px;
}

@media screen and (min-width: 1200px){
  .podcasttitle {
    font-size: 2rem;
  }
}

.podcastnamepod {
  color: #E2E2E2;
  /* font-family: 'Montserrat600', serif; */
  font-size: 1.4rem;
  line-height: 1.71;
  opacity: 0.8;
  margin: 0px 20px;
}

@media screen and (min-width: 1200px){
  .podcastnamepod {
    font-size: 1.7rem;
    padding-top: 10px;
  }
}

.podcastfirstsecond {
  color: #E2E2E2;
  /* font-family: 'Montserrat600', serif; */
  font-size: 1.4rem;
  line-height: 1.42;
  opacity: 0.8;
  margin: 0px 40px 17px 20px;
}

@media screen and (min-width: 1200px){
  .podcastfirstsecond {
    font-size: 1.7rem;
  }
}

.podacstlink {
  color: var(--text-color);
  font-family: 'Montserrat700', serif;
  font-size: 1.2rem;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0px 8px 20px 20px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

.podacstlink1 {
  color: var(--text-color);
  font-family: 'Montserrat700', serif;
  font-size: 1.2rem;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0px 8px 20px 20px;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

@media screen and (min-width: 1200px){
  .podacstlink {
    font-size: 1.6rem;
    padding-top: 110px;
  }

  .podacstlink1 {
    color: var(--text-color);
    font-family: 'Montserrat700', serif;
    font-size: 1.6rem;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-top: 80px;
    margin: 0px 8px 20px 20px;
    transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
  }

  .podacstlink1:hover {
    filter: brightness(2);
    transform: scale(1.2);
    background-color: rgb(10, 17, 23);
    color: rgb(225, 255, 0);
    box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
  }
  
  .podacstlink1:focus {
    filter: brightness(2);
    transform: scale(1.2);
  }
  
  .podacstlink1:active {
    filter: brightness(2);
  }
}

.podacstlink:hover {
  filter: brightness(2);
  transform: scale(1.2);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.podacstlink:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.podacstlink:active {
  filter: brightness(2);
}

.pressseea {
  display: flex;
  color: #8395A7;
  text-align: center;
  justify-items: center;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
  font-family: 'Montserrat700', serif;
  font-size: 1.8rem;
  line-height: 1.77;
  margin-top: 40px;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

@media screen and (min-width: 768px) {
  .pressseea {
    display: none;
  }
}

.pressseea:hover {
  filter: brightness(2);
  transform: scale(1.2);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.pressseea:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.pressseea:active {
  filter: brightness(2);
}

.footwrap {
  padding: 32px 70px 32px 70px;
  margin-inline: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footwrap {
    padding: 32px 0px 32px 0px;
    margin-inline: auto;
    width: 100%;
    width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  .footwrap {
    padding: 32px 0px 32px 0px;
    margin-inline: auto;
    width: 100%;
    width: 1140px;
  }
}

@media screen and (min-width: 768px) {
  .footer__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.footsec {
  background: #121e28;
}

.footul1{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-inline: 0;
  margin-inline: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .footul1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline: 0;
    margin-inline: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .footul1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline: 0;
    margin-inline: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-inline-start: 100px;
    gap: 36px;
  }
}

.footul2{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-inline: 0;
  gap: 20px;
}


.footlink {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: normal;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

@media screen and (min-width: 1200px) {
  .footlink {
    font-size: 2.2rem;
  }
}

.footlink:hover {
  filter: brightness(20);
  transform: scale(1.2);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.footlink:focus {
  filter: brightness(20);
  transform: scale(1.2);
}

.footlink:active {
  filter: brightness(20);
}

.footlogo {
  display: block;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}


@media screen and (min-width: 1200px) {
  .footlogo svg {
    width: 56px;
  }
}

.footlogo:hover {
  filter: brightness(2);
  transform: scale(1.2);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.footlogo:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.footlogo:active {
  filter: brightness(2);
}

.linknext {
  color: white;
  transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s cubic-bezier(1, 0.12, 0.85, 1.32), transform 0.3s ease;
}

.linknext:hover {
  filter: brightness(2);
  transform: scale(1.2);
  background-color: rgb(10, 17, 23);
  color: rgb(225, 255, 0);
  box-shadow: 2px 2px 20px rgba(14, 58, 154, 0.593);
}

.linknext:focus {
  filter: brightness(2);
  transform: scale(1.2);
}

.linknext:active {
  filter: brightness(2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-link {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 10px 15px;
  color: #18191c;
  background: #10F3AF;
  transform: translateY(-100%);
}

.skip-link:focus {
  transform: translateY(20%);
}