/* Переменные */

:root {
  --text-color: #FFF;
  --background-color: #0A1117;
  --link-color: #10151A;
  --font-size: 62.5%;
  --yellow: #FFC803;
}


/* Шрифты */

/* Montseratt font */
/* montserrat-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat100';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/montserrat-v26-latin-100.woff2') format('woff2');
}
/* montserrat-100italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat100it';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/montserrat-v26-latin-100italic.woff2') format('woff2');
}
/* montserrat-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat200';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/montserrat-v26-latin-200.woff2') format('woff2');
}
/* montserrat-200italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat200it';
  font-style: italic;
  font-weight: 200;
  src: url('fonts/montserrat-v26-latin-200italic.woff2') format('woff2');
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v26-latin-300.woff2') format('woff2');
}
/* montserrat-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat300it';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/montserrat-v26-latin-300italic.woff2') format('woff2');
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat400';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v26-latin-regular.woff2') format('woff2');
}
/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat400it';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/montserrat-v26-latin-italic.woff2') format('woff2');
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat500';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/montserrat-v26-latin-500.woff2') format('woff2');
}
/* montserrat-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat500it';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/montserrat-v26-latin-500italic.woff2') format('woff2');
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat600';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v26-latin-600.woff2') format('woff2');
}
/* montserrat-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat600it';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/montserrat-v26-latin-600italic.woff2') format('woff2');
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v26-latin-700.woff2') format('woff2');
}
/* montserrat-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat700it';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/montserrat-v26-latin-700italic.woff2') format('woff2');
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat800';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/montserrat-v26-latin-800.woff2') format('woff2');
}
/* montserrat-800italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat800it';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/montserrat-v26-latin-800italic.woff2') format('woff2');
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat900';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/montserrat-v26-latin-900.woff2') format('woff2');
}
/* montserrat-900italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat900it';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/montserrat-v26-latin-900italic.woff2') format('woff2');
}


/* Figtree font */
/* figtree-300 */
@font-face {
  font-display: swap;
  font-family: 'figtree300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Figtree-Light.woff2') format('woff2');
}
/* figtree-300italic */
@font-face {
  font-display: swap;
  font-family: 'figtree300it';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/Figtree-LightItalic.woff2') format('woff2');
}
/* figtree-400 - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree400';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Figtree-Regular.woff2') format('woff2');
}
/* figtree-400italic - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree400it';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Figtree-Italic.woff2') format('woff2');
}
/* figtree-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree500';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Figtree-Medium.woff2') format('woff2');
}
/* figtree-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree500it';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/Figtree-MediumItalic.woff2') format('woff2');
}
/* figtree-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree600';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Figtree-SemiBold.woff2') format('woff2');
}
/* figtree-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree600it';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/Figtree-SemiBoldItalic.woff2') format('woff2');
}
/* figtree-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Figtree-Bold.woff2') format('woff2');
}
/* figtree-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree700it';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/Figtree-BoldItalic.woff2') format('woff2');
}
/* figtree-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree800';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/Figtree-ExtraBold.woff2') format('woff2');
}
/* figtree-800italic - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree800it';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/Figtree-ExtraBoldItalic.woff2') format('woff2');
}
/* figtree-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree900';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/Figtree-Black.woff2') format('woff2');
}
/* figtree-900italic - latin */
@font-face {
  font-display: swap;
  font-family: 'figtree900it';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/Figtree-BlackItalic.woff2') format('woff2');
}


/* Теги */

body {
  background: var(--background-color);
  text-align: center;
}

html {
  font-size: var(--font-size);
}

a {
  text-decoration: none;
}


/* Классы */

.texth1 {
  color: var(--text-color);
  font-family: 'figtree700';
  font-size: 3.6rem;
  line-height: 1.22;
}

.textregular {
  color: var(--text-color);
  font-family: 'Montserrat500';
  font-size: 1.8rem;
  line-height: 1.55;
}

.linkget {
  color: var(--link-color);
  font-family: 'Montserrat700';
  font-size: 1.5rem;
  line-height: 2;
  display: inline-flex;
  padding: 8px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #FFCF01;
  box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.20);
}

.texth2 {
  color: var(--text-color);
  font-family: 'figtree700';
  font-size: 2.8rem;
  line-height: 1.28;
}

.read1 {
  color: #FFB4D3;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 44.939px;
  background: #182632;
  }

.read2 {
  color: #FFC24C;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 44.939px;
  background: #182632;
}

.read3 {
  color: #D387F7;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 44.939px;
  background: #182632;
}

.read4 {
  color: #77E6FF;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 44.939px;
  background: #182632;
}

.read5 {
  color: #23C9DE;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 44.939px;
  background: #182632;
}

.read6 {
  color: #FFB4D3;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 44.939px;
  background: #182632;
}

.read7 {
  color: #707F8D;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.14;
  display: inline-flex;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 44.939px;
  background: #182632;
}

.underpicture{
  color: #0A1117;
  font-family: 'Montserrat700';
  font-size: 1.3rem;
  line-height: 1.84;
  display: inline-flex;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 3px solid #0A1117;
  background: #FFA800;
}

.designul {
  color: #37424D;
font-family: 'figtree700';
font-size: 2rem;
line-height: 1.8;
}

.designulone {
  color: #23C9DE;
font-family: 'figtree700';
font-size: 2rem;
line-height: 1.8;
}

.alldesign {
  color: #8395A7;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.15;
}

.alldesignone {
  color: var(--yellow);
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.28;
}

.linkwatch {
  color: #FFCF01;
  font-family: 'Montserrat700';
  font-size: 1.5rem;
  line-height: 2.4;
  display: flex;
  width: 190px;
  height: 44px;
  padding: 4px 29px 4px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(255, 207, 1, 0.15);
}

.worksul {
  color: var(--text-color);
  text-align: center;
  font-family: 'Montserrat600';
  font-size: 1.2rem;
  line-height: 1.5;
}

.helpul {
  color: var(--text-color);
  font-family: 'figtree700';
  font-size: 1.8rem;
  line-height: normal;
}

.sectionweek {
  flex-shrink: 0;
  border-radius: 22px;
  border: 1px solid #2A3744;
  background: #14212D;
}

.weektext {
  color: #9AAFC3;
  font-family: 'Montserrat600';
  font-size: 1.9rem;
  line-height: 1.47;
}

.emailblock {
  display: flex;
  padding: 13px 184px 13px 18px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #2A3744;
  background: #121E28;
}

.emailtext {
  color: #3D4C5B;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.28;
  background: #121E28;
}

.subbutton {
  color: #10151A;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.71;
  display: flex;
  width: 280px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--purple-light, #E2C1F9);
}

.pressblock1 {
  flex-shrink: 0;
  border-radius: 20px;
  background: #77E6FF;
  text-align: start;
}

.pressblock2 {
  flex-shrink: 0;
  border-radius: 20px;
  background: #E2C1F9;
  text-align: start;
}

.pressblock3 {
  flex-shrink: 0;
  border-radius: 20px;
  background: #DBE268;
  text-align: start;
}

.pressh {
  color: #10151A;
  font-family: 'Montserrat700';
  font-size: 1.8rem;
  line-height: 1.33;
  }

.presstext {
  color: #10151A;
  font-family: 'Montserrat600';
  font-size: 1.3rem;
  line-height: 1.69;
  opacity: 0.8;
}

.presslink {
  color: #10151A;
  font-family: 'Montserrat700';
  font-size: 1.4rem;
  line-height: normal;
}

.presssee {
  color: #8395A7;
  text-align: right;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
  font-family: 'Montserrat700';
  font-size: 1.8rem;
  line-height: 1.77;
}

.podcastblock {
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #2A3744;
  background: #121E28;
  backdrop-filter: blur(2px);
  text-align: start;
}

.podcasttitle{
  color: var(--text-color);
  font-family: 'Montserrat700';
  font-size: 1.7rem;
  line-height: 1.41;
}

.podcastnamepod {
  color: #E2E2E2;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.71;
  opacity: 0.8;
}

.podcastfirstsecond {
  color: #E2E2E2;
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: 1.42;
  opacity: 0.8;
}

.podacstlink {
  color: var(--text-color);
  font-family: 'Montserrat700';
  font-size: 1.2rem;
  line-height: normal;
}

.footlink {
  color: var(--text-color);
  font-family: 'Montserrat600';
  font-size: 1.4rem;
  line-height: normal;
}

